/exampleSite/public/
/exampleSite/resources/
/resources/
.netlify
/netlify.log
node_modules
# For debugging using Netlify CLI (netlify dev command)
/.env
# For keeping the .env file around when not using it
/.disabled-env
/_vendor